.Login {
  text-align: center;
}

.login-form {
  width: 350px;
  margin: 0 auto;
}
.login-form .commonBtn {
  margin: 20px;
}

.login-inputs-container {
  display: flex;
  flex-direction: column;
}

.no-account {
  padding: 0 10vw;
  display: flex;
  flex-direction: column;
}
.no-account * {
  justify-content: flex-end;
  margin-left: auto;
}
