.Header {
  background-color: #161616;
  padding: 15px;
  color: #ffffff;
}

.nav-link-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.nav-link-container a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 1.1em;
  padding: 15px;
  transition: color 0.5s ease;
}
.nav-link-container a:hover {
  color: #2fb3ff;
}
.nav-link {
  padding: 5px 0;
  margin: 0 5px;
}

.nav-link.commonBtn a:hover {
  color: #04ffd5;
}

.loggedInInfo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.loggedInUsername {
  color: #2fb3ff;
  font-size: 1.3em;
  padding: 0 10px;
}

.logout-btn-container {
  justify-content: flex-end;
  display: flex;
}
