.site-users-list {
  display: flex;
  flex-wrap: wrap;
}

.site-users-list li {
  list-style: none;
  border: 1px solid #ffffff;
  padding: 0 5px;
  margin: 5px;
  justify-content: space-between;
  flex: 0 0 30%;
}

.user-id {
  color: gold;
}
.user-username {
  color: #2fb3ff;
  font-size: 1.3em;
}
.user-role {
  text-transform: uppercase;
}

.admin-btns-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
