/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

.animated-page-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.link {
  text-decoration: none;
  color: #2fb3ff;
  padding: 5px;
}

.white-link {
  text-decoration: none;
  color: #ffffff;
  padding: 5px;
}

.MuiFormGroup-root {
  background-color: #ffffff;
}

.commonBtn {
  color: #ffffff;
  font-size: 1em;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 5px 10px;
  cursor: pointer;
}

.commonBtn:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: #2fb3ff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  padding: 5px 10px;
  cursor: pointer;
}

.commonBtn:after {
  content: '';
  display: block;
  width: 130px;
  height: 50px;
  background: rgba(46, 131, 156, 0.15);
  position: absolute;
  right: -6px;
  top: 28px;
  transition: top 0.5s;
  z-index: -1;
  cursor: pointer;
}

.commonBtn:hover:after {
  cursor: pointer;
  top: -5px;
  cursor: pointer;
}

.commonBtn:focus {
  background-color: transparent;
}

.secondaryBtn {
  color: #ffffff;
  font-size: 1em;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 5px 10px;
  margin: 0 15px;
  cursor: pointer;
}

.secondaryBtn:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: #ff0000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  padding: 5px 10px;
  cursor: pointer;
}

.secondaryBtn:after {
  content: '';
  display: block;
  width: 120px;
  height: 35px;
  background: rgba(46, 131, 156, 0.15);
  position: absolute;
  right: -6px;
  top: 29px;
  transition: top 0.5s;
  z-index: -1;
  cursor: pointer;
}

.secondaryBtn:hover:after {
  cursor: pointer;
  top: -5px;
  cursor: pointer;
}

.secondaryBtn:focus {
  background-color: transparent;
}

.tirtiaryBtn {
  color: #ffffff;
  font-size: 1em;
  border: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 5px 10px;
  margin: 0 15px;
  cursor: pointer;
}

.tirtiaryBtn:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background: goldenrod;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  padding: 5px 10px;
  cursor: pointer;
}

.tirtiaryBtn:after {
  content: '';
  display: block;
  width: 120px;
  height: 35px;
  background: rgba(46, 131, 156, 0.15);
  position: absolute;
  right: -6px;
  top: 29px;
  transition: top 0.5s;
  z-index: -1;
  cursor: pointer;
}

.tirtiaryBtn:hover:after {
  cursor: pointer;
  top: -5px;
  cursor: pointer;
}

.tirtiaryBtn:focus {
  background-color: transparent;
}

.page {
  padding: 50px 10vw;
}
.page-title {
  color: #2fb3ff;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 2.5rem;
}
.page-sub-title {
  display: flex;
  justify-content: center;
}

.error-page {
  padding: 50px 10vw;
}
.error-page-content {
  display: flex;
  align-items: center;
}
.not-found-img {
  min-width: 40ch;
  min-height: 40ch;
  width: 50vw;
  height: 50vh;
  max-width: 100ch;
  max-height: 100ch;
  background-image: url(./images/page-not-found.svg);
  background-repeat: no-repeat;
}

.right-content {
  display: flex;
  justify-content: flex-end;
}
